* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: #ffe5f3;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 97, 176);
  border-radius: 50px;
  border: 4px solid #ffe5f3;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 57, 156);
  border-radius: 50px;
}
h6 {
  padding-left: 40px;
  color: rgb(136, 166, 255);
  transition: all 0.4s;
  cursor: pointer;
}
h6:hover {
  transform: scale(1.05);
}
h5 {
  color: rgb(61, 208, 195);
}
